
.passero-one-regular {
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(tela\ de\ inicio.png );
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio {
    background-image: url(fundo\ da\ pagina\ cartoes.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio-container {
    text-align: center;
}


#iniciarBtn {
    padding: 15px 30px;
    font-size: 20px;
    background-color: #2ca38a;
    color: white;
    border: none;
    border-radius: 5px;   
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#iniciarBtn:hover {
    transform: scale(1.03);
    background-color: #247670;
}

/* Tela de temas */
.temas {
     background-image: url(fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* título e botões em coluna */
    height: 100vh; 
    padding: 20px;
    text-align: center;
}

.titulo-temas { 
    text-align: center;
    font-size: 45px;
    background-color: transparent;
    border: none;
   font-family:"Passero One", sans-serif;
    gap: 20px;
    color: #2ca38a;
}

.temas .temas-container {
    display: flex;
    flex-direction: column;  /* Coloca os cartões em uma coluna */
    justify-content: center;
    align-items: center;
    gap: 20px;  /* Espaçamento entre os cartões */
}

.cartao {
    background-color: #2ca38a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s;
    margin-bottom: 20px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.cartao:hover {
    transform: scale(1.1);
    background-color: #247670;
}

/* Tela do tema */
.tema .conteudo-tema {
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #2ca38a;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}


  .voltar-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #247670;
}

.voltar-btn:hover {
    color: #2ca38a;
}

h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #ffffff;
      font-family:"Passero One", sans-serif;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
}

ul {
    color: #ffffff; 
   text-align: left;
}


